*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto;
}

.codeBody{
    /* border: 1px solid #000; */
    text-align: center;
    padding: 10px 0px;
    background: white;
    border-radius: 10px;
}

.codeBody img{
    width: 17vw;
    height: 35vh;
    border-radius: 10px;
    margin: 15px;
}

h1{
    padding: 5px auto;
    font-size: 20px;
}

p{
    font-size: 13px;
    margin: 15px 12px;
    color: hsl(0, 1%, 69%);
}

@media (max-width: 375px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1440px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}